/* Website CSS */

body       { margin-top: 5px;
             padding-top: 0px;
	     margin-left: 5px;
	     padding-left: 0px;
	     margin-right: 5px;
	     padding-right: 0px;
	     background-color: white;
           }

div.header { margin-top: 0px;
             padding-top: 10px;
	     padding-left: 5px;
             background-color: white;
	     font-family: arial, helvetica, sans-serif;
           }

div.header
h1           { padding-top: 0px;
               margin-top: 0px;
               padding-bottom: 0px;
               margin-bottom: 0px;
	       font-size: 24pt;
	       font-family: Arial, sans-serif;
	       color: white;
             }

div.header
h1
span.site    { 
               font-size: 12pt;
             }

div.header
div.tagline  { 
               position: absolute;
	       color: #F2F3F5;
	       font-family: serif;
               top: 35px;
	       right: 10px;
               font-style: italic;
	       margin-right: 30px;
	       text-align: right;
 	     }

div.article { padding-left: 10px;
              padding-right: 140px;
              border-left: 1px solid #999;
              border-right: 1px solid #999;
              border-bottom: 1px solid #999;
              border-top: 1px solid #999;
            }

span.subscribe { font-size: 10px;
              }

h1,h2,h3,h4,h5 { font-family: arial, helvetica, sans-serif; }

div.adsense { margin-top: 4px;
              text-align: right;
	      height: 0px;
            }
div.footer  { text-align: center;
              position: absolute;
              visibility: visible;
	      color: #AAAAAA;
	      border-top: solid #AAAAAA 1pt;
	      padding-top: 4px;
	      font-size: 8pt;
            }

div.admonition { border: solid 1px #AAAAAA;
                 margin-left: 20px;
                 margin-right: 20px;
		 padding-left: 5px;
		 padding-right: 5px;
               }

div.admonition
div.admon-title { font-weight: bold;
                }

sup          { font-size: 60%; }

div.programlisting {
  border: solid 1px #AAAAAA;
  padding-left: 1em;
  background-color: #EEEEEE;
}