<ul xmlns="http://www.w3.org/1999/xhtml">
  <li id="home">
    <a href="/">Home</a>
    <ul>
      <li><a href="/">Overview</a></li>
      <li id="background"><a href="/background/">Background</a></li>
      <li id="faq"><a href="/faq/">FAQ</a></li>
      <li id="contact"><a href="/contact/">Contact us</a></li>
    </ul>
  </li>
  <li id="impl">
    <a href="/implementations/">Implementations</a>
    <ul>
      <li><a href="/implementations/">Overview</a></li>
    </ul>
  </li>
  <li id="library">
    <a href="/library/">Library</a>
    <ul>
      <li><a href="/library/">Overview</a></li>
    </ul>
  </li>
  <li id="extensions">
    <a href="/extensions/">Extensions</a>
    <ul>
      <li><a href="/extensions/">Overview</a></li>
    </ul>
  </li>
</ul>
